<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Main test suite" parallel="tests" thread-count="3">

	<test name="ChromeTest">
		<classes>
			<class name="com.selenium_testng.sample1.testscripts.AndroidAppTest" />
		</classes>
	</test>
</suite>